.iframe-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; /* Adiciona centralização dos iframes */
    margin: 20px;
}

.spotify-iframe {
    border-radius: 12px;
    width: 290px;
    height: 352px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spotify-iframe:hover {
    transform: scale(1.009);
    transform-origin: center;
    box-shadow: 0px 4px 10px rgba(133, 8, 150, 0.74);
}

.gif-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gif-image {
    width: 900px;
    height: auto;
    border-radius: 10px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.plan-text {
    color: purple;
}

.discount-text {
    text-align: center;
    color: rgb(133, 8, 150);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray;
}

.discount-price {
    color: #ff3b3b;
    font-weight: bold;
}

.subscribe-link {
    color: purple;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.subscribe-link:hover {
    transform: scale(1.9);
    color: darkviolet;
}

/* Efeito de hover para o Card */
.card-container .card {
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container .card:hover {
    transform: scale(1.009);
    box-shadow: 0px 4px 10px rgba(133, 8, 150, 0.74);
}
